rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /meta/packs {
      allow read: if true;
      allow write: if false;
    }
    match /predicaments/{predicament} {
      allow read: if true;
      allow write: if false;

      // text: string
      // seed: number
      // cardPack: string?
    }
    match /games/{game} {
      allow read: if false;
      allow write: if false;

      // lastRoundAt
    }
  }
}