$brand-500: #fdb71a;
$brand-400: lighten($brand-500, 10%);
$brand-300: lighten($brand-500, 20%);
$brand-200: lighten($brand-500, 30%);
$brand-100: lighten($brand-500, 40%);
$brand-600: darken($brand-500, 10%);
$brand-700: darken($brand-500, 20%);
$brand-800: darken($brand-500, 30%);
$brand-900: darken($brand-500, 40%);
